/*Shortcode*/
#sort-list{
	font-family: "Helvetica",Arial,Tahoma,Verdana,sans-serif;
	width: 100%;
	margin:0;
	list-style-type: none;
	font-size: 14px;
}
#sort-list a{
	text-decoration: none;
	color:#29ACE5;
}
#sort-list a:hover{
	text-decoration: underline;
}
#sort-list li{
	display: block;
	padding:14px 0;
	line-height: 49px;
	border-bottom: 1px solid #DADADA;
}
#sort-list li img{
	float: left;
	padding-right: 14px;
}
/*Widget*/
#sort-list-widget{
	font-family: "Helvetica",Arial,Tahoma,Verdana,sans-serif;
	margin:0;
	list-style-type: none;
	width: 100%;
	/*font-size: 14px;*/
}
#sort-list-widget a{
	text-decoration: none;
	color:#29ACE5;
}
#sort-list-widget a:hover{
	text-decoration: underline;
}
#sort-list-widget li{
	display: block;
	padding:7px 0;
	line-height: 35px;
	border-bottom: 1px solid #DADADA;
}
#sort-list-widget li img{
	float: left;
	padding-right: 7px;
}
.collapse-button, .collapse-button-p, .sort-button, .sort-button-p{
	float: right;
	cursor: pointer;
}
.icon{
	padding: 12px;
}
